{% extends "html/base.html" %}
{% load crispy_forms_tags %} 

{% block content %}
<!-- <div class="login-form-div shadow-lg rounded">
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form|crispy }}
        <div  class="text-center"> 
            <button type="submit" class="btn btn-primary center-block">Login</button>
        </div>
    </form>
</div> -->
<div class="d-flex align-items-center justify-content-center" style="position: absolute; height: 100%; width: 100%;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded d-flex justify-content-center" style="height: 300px; width: 500px; position: relative;">
        <div>
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div  class="text-center"> 
                    <button type="submit" class="btn btn-primary center-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}